.filterLink__container {
  margin: 0;
  padding: 0;
  max-width: 993px;
  margin: 0 auto;
  padding-top: 22px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  .filterLink__title {
    vertical-align: middle;
    overflow: hidden;
    line-height: 14px;
    color: #406367;
    font-size: 12px;
    font-weight: 400;
  }
  .filterLink_middle__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    .filterbutton__link {
      font-size: 14px;
      color: #406367;
    }
  }
}
.filtersort {
  display: flex;
  align-items: center;
  .filtersort__text {
    padding: 0;
    margin: 0;
    margin-right: 10px;
  }
  .filtersort__select {
    background-color: #ffffff;
    padding: 15px 10px 10px 10px;
    .filtersort__image {
      margin-left: 5px;
    }
  }
  .filterLink__input {
    margin-left: 10px;
    margin-left: 10px;
  }
}
