.container {
  max-width: 1097px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.list__reset {
  list-style: none;
}
.link__reset {
  text-decoration: none;
}
.lastContent__container{
  padding-top:70px;
  background-color:#f2f4f5;
}
.lastContent__list{
  display:flex;
  flex-wrap: wrap;
  padding-left:0px;
  margin-bottom: 0px;
  padding-bottom:100px;
}
.lastContent__span{
  margin-right:5px;
}
.lastContent-document__image{
  margin-bottom:15px;
}
.line__content{
  display:block;
  width:100%;
  height:1px;
  background-color:#002f34;
  margin-bottom:80px;
}
.lastContent__lists{
  display:flex;
  flex-wrap: wrap;
  padding-left:0px;
}
.lastContent-logos__links{
  display:flex;
  flex-wrap: wrap;
}
.listContent-logoFirstLink{
  margin-right:10px;
}
.listContent-logoFirstLink, .listContent-logoSecondLink{
  background-color:#FFFFFF;
}
.lastContent-first__list, .lastContent-second__list{
  padding-left:0px;
  margin-right:100px;
}
.lastContent-logo__span{
  font-size:13px;
  text-align: center;
  color:rgb(183, 182, 182);
}