.list__reset {
  list-style: none;
	margin: 0px;
	padding: 0px;
}
.line{
	display:block;
	width: 100%;
	height:1px;
	background-color: rgb(187, 187, 187);
	margin-bottom:15px;
}
.main_subcategory{
	border:1px solid rgb(187, 187, 187);
	padding-top:10px;
}
.main_subcategory__logo{
	margin-right:5px;
}
.main_sub_lists{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/* justify-items: center; */
}
.main_subcategory__title-block{
	display:block;
	margin-bottom:15px;
	text-decoration: none;
	color: #000000;
}
.main_sub-strong{
	color:rgb(148, 148, 148);
}
.main_subcategory__title:hover{
	background-color: #000;
	color:#FFFFFF;
}
