.favorites__title {
  margin: 0;
  font-size: 32px;
  font-weight: 620;
  padding: 50px 0px 40px 0px;
}
.favorites__list {
  display: flex;
  .favorites__item {
    padding-bottom: 17px;
    width: 220px;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
    &__here {
      border-bottom: 2px solid #002f34;
    }
    .favorites__link {
      font-size: 14px;
      text-decoration: none;
      color: #002f34;
      &__here {
        font-weight: 500;
      }
      &__other:hover {
        background-color: #002f34;
        color: #ffffff;
      }
    }
  }
}
