.categoryCount__item{
	display:flex;
	flex-wrap: wrap;
	margin-bottom:30px;
}
.categoryCount__name{
	margin:0px;
	margin-right:3px;
}
.categoryCount__price{
	display:block;
	margin-right:15px;
	color:#848282;
}
