.container {
  max-width: 1097px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.list__reset {
  list-style: none;
}
.link__reset {
  text-decoration: none;
}
.products {
  padding-top: 100px;
  background-color: #f2f4f5;
}
.products__form {
  max-width: 1000px;
  margin: 0 auto;
}
.products__block {
  display: flex;
  margin: 0 auto;
}
.products__search-product {
  max-width: 462px;
  width: 462px;
  height: 72px;
  padding-left: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  margin-right: 3px;
}
.products__search-city {
  max-width: 385px;
  width: 385px;
  height: 72px;
  padding-left: 20px;
  font-size: 18px;
  border: none;
}
.products__button {
  width: 150px;
  height: 72px;
  font-size: 18px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: #002f34;
  color: #fff;
}
.products_radio-inputs {
  display: flex;
}
.radio__p {
  margin-bottom: 0px;
  margin-right: 20px;
}
.products_radio-inputs {
  height: 20px;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.select {
  display: flex;
  /* padding:0px; */
  /* align-items: center; */
}
.products_radio-input {
  display: block;
  margin-right: 8px;
  width: 25px;
  height: 25px;
  border: 3px solid #000000;
}
.products_checkbox-block {
  display: flex;
  align-items: center;
}
.radio__button {
  width: 230px;
  height: 40px;
  border-radius: 5px;
}
.form-heart__logo {
  margin-right: 10px;
}
.form__filter-text {
  display: block;
}
.form__filter-category-text {
  display: block;
}
.form__filter-text {
  font-size: 30px;
  margin-bottom: 15px;
}
.form__filter-category-text {
  font-size: 17px;
  margin-bottom: 10px;
}
.form__select {
  /* display: none; */
  width: 186px;
  /* height:100px; */
}
.select__category {
  width: 186px;
  background-color: #ffffff;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
}
.select__category__text {
  margin-right: 30px;
}
.select__price-block {
  display: flex;
}
.select__input-price {
  display: block;
  width: 80px;
  height: 44px;
  padding: 10px 0px 10px 10px;
  border: none;
  border-radius: 5px;
}
.select__input-price:nth-child(2) {
  margin-left: 20px;
}
.select__price-block {
  padding-bottom: 44px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select {
  max-width: 400px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select__price-text {
  display: block;
  padding-bottom: 20px;
}
.products__title{
  margin:0px;
  font-size:30px;
  padding-top:40px;
}