$myaccount-fontSize: 32px;
$myaccount-fontWieght: 700;
$myaccount-color: rgb(0, 47, 52);
$myaccount-fontFamily: inherit;

.myaccount_main {
  .myaccount__container {
    padding-top: 35px;
    .message__title {
      font-size: $myaccount-fontSize;
      font-weight: $myaccount-fontWieght;
    }
  }
}
