.categories_levels__content {
  display: flex;
  
}
.subcategories__content,
.secondLevelcategories__content {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 360px;
  max-height: 400px;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.subcategories__content::-webkit-scrollbar {
  width: 1.2px;
}
.subcategories__content::-webkit-scrollbar-track {
  box-shadow: inset 1px 0px 0px gray;
}
.subcategories__content::-webkit-scrollbar-thumb {
  background-color: rgb(11, 11, 11);
  outline: 1px solid rgb(0, 0, 0);
}


.secondLevelcategories__content::-webkit-scrollbar {
  width: 1px;
}
.secondLevelcategories__content::-webkit-scrollbar-thumb {
  background-color: rgb(11, 11, 11);
  outline: 1px solid rgb(0, 0, 0);
}
