.more_info_chrsc__item{
	border:1px solid #002F34;
	padding:4px 14px;
	border-radius:4px;
	margin-right:10px;
	margin-bottom:15px;
	.chrsc__span{
		font-size:14px;
		line-height: 18px;
    color: #002F34;
	}
}