.container {
	max-width: 1097px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.list__reset {
	list-style: none;
}
.link__reset {
	text-decoration: none;
}
.maincategories__container{
	padding-top: 56px;
	text-align: center;
}
.maincategories__list{
	padding-top:40px;
	display:flex;
	flex-wrap: wrap;
}
.maincategories_sub_list{
	position:absolute;
	padding:0px;
	background-color:rgb(200, 248, 246, 90%);
	padding-top:150px;
	padding-bottom:150px;
	max-width:1077px;
	width:1077px;
	text-align: center;
	margin: 0 auto;
}
.maincategories_sub_item{
	margin-bottom:10px;
}
.maincategories_sub_list__x{
	position: relative;
	float:right;
	padding: 20px 20px;
}

/* .maincategories_sub_list__active{
	display:block;
}
.maincategories_sub_list__x__active{
	display:block;
} */