.accordion_container{
	margin:0px;
	max-width: 1000px;
	margin: 0 auto;
	padding-top:50px;

}
.accordion-item{
	margin-bottom:25px;
}
.accordion-button_item{
	border-radius: 5px;
	height:80px;
	font-size:20px;
}
.accordion-item:last-child{
	margin-bottom:0px;
}
